In [1]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [5]:
for num in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [12]:
for num in mylist:
    print(f'Result of {num} % 2 is {num % 2}')
    # Check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')
    print('-----------')

Result of 1 % 2 is 1
Odd Number: 1
-----------
Result of 2 % 2 is 0
2
-----------
Result of 3 % 2 is 1
Odd Number: 3
-----------
Result of 4 % 2 is 0
4
-----------
Result of 5 % 2 is 1
Odd Number: 5
-----------
Result of 6 % 2 is 0
6
-----------
Result of 7 % 2 is 1
Odd Number: 7
-----------
Result of 8 % 2 is 0
8
-----------
Result of 9 % 2 is 1
Odd Number: 9
-----------
Result of 10 % 2 is 0
10
-----------

In [20]:
list_sum = 0

for num in mylist:
    print(f'{list_sum} + {num} = {list_sum + num}')
    list_sum = list_sum + num
    
print(list_sum)

0 + 1 = 1
1 + 2 = 3
3 + 3 = 6
6 + 4 = 10
10 + 5 = 15
15 + 6 = 21
21 + 7 = 28
28 + 8 = 36
36 + 9 = 45
45 + 10 = 55
55

In [23]:
for _ in 'Hello World':
    print(_)

H
e
l
l
o

W
o
r
l
d

In [24]:
tup = (1,2,3)
for item  in tup:
    print(item)

1
2
3

In [28]:
mylist = [(1,2), (3,4), (5,6), (7,8)]

In [29]:
len(mylist)

4

In [34]:
for a,b in mylist:
    print(b)

2
4
6
8

In [35]:
mylist = [(1,2,3), (4,5,6), (7,8,9)]

In [37]:
for a,b,c in mylist:
    print(b)

2
5
8

In [41]:
d = {'k1':1, 'k2':2, 'k3':3}

for value in d.values():
    print(value)

1
2
3