In [1]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the thrid line

Writing myfile.txt

In [2]:
myfile = open('myfile.txt')

In [3]:
myfile = open('oops I did it again')

FileNotFoundError: [Errno 2] No such file or directory: 'oops I did it again'

In [4]:
pwd

'C:\\Users\\khama\\dev\\udemy-python-course\\section3'

In [5]:
myfile = open('myfile.txt')

In [6]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the thrid line\n'

In [7]:
myfile.read()

''

In [8]:
myfile.seek(0)

0

In [9]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the thrid line\n'

In [12]:
contents = myfile.read()

In [21]:
myfile.seek(0)

0

In [22]:
contents = myfile.read()

In [23]:
contents

'Hello this is a text file\nthis is the second line\nthis is the thrid line\n'

In [25]:
myfile.seek(0)

0

In [26]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the thrid line\n']

In [27]:
myfile.close()

In [33]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [34]:
contents

'Hello this is a text file\nthis is the second line\nthis is the thrid line\n'

In [44]:
with open('myfile.txt', mode='r') as myfile:
          contents = myfile.read()

In [37]:
contents

'Hello this is a text file\nthis is the second line\nthis is the thrid line\n'

In [46]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Overwriting my_new_file.txt

In [52]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH
FOUR ON FOURTH

In [53]:
with open('my_new_file.txt', mode='a') as f:
    f.write('\nFOUR ON FOURTH')

In [54]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH
FOUR ON FOURTH
FOUR ON FOURTH

In [55]:
with open('dhtekitjl.txt', mode='w') as f:
    f.write('I created this mess!')

In [57]:
with open('dhtekitjl.txt', mode='r') as f:
    print(f.read())

I created this mess!

In [ ]:
def sleep_in(weekday, vacation):
  if weekday==False or vacation==True:
    return True
	else:
    return False